/* Add application styles & imports to this file! */
html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

#blitz-app {
  height: 100%;
}